* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #ddd;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    margin: 0;
    font-size: 1.75em;
}

.mainNav {
    margin-top: 5px;
}

.logo a, .mainNav a{
    padding: 10px 30px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.logo a {
    font-size: 1.5em;
}

.mainNav a {
    color: black;
    font-size: 1.2em;
}

.mainNav a:hover {
    color: #888888;
}

.header .mainNav {
    display: flex;
}


.header,
.main-nav {
    display: flex;
}

.header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-top: .5em;
    padding-bottom: .5em;
}

 /* MAIN CONTENT */

.mainContent {
    padding-top: 1.5em;
    padding-bottom: .5em;
    text-align: center;
}

.mainContent h3{
    font-size: 1.5em;
}

 .inputOne, .inputTwo, .inputThree {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    text-align: center;
    width: 17rem;
    margin-bottom: 10px;
    margin-right: 8px;
 }

 .buttonOne, .buttonTwo, .buttonThree {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    text-align: center;
    width: 8rem;
    margin-right: 8px;
 }

 .operator {
    padding: 0;
    height: 35px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    text-align: center;
    width: 23rem;
    margin-bottom: 10px;
    margin-right: 8px;
 }

 /* ABOUT PAGE  */

 #aboutContent {
    border-top: 2px solid black;
    margin-top: 50%;
    padding-top: 30px;
 }

.about {
    text-align: center;
    align-items: center;
}

.about h1 {
    text-decoration: underline;
    font-size: 2.1em;
}

.about h3 {
    font-size: 1.5em;
}

.about p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.8em;
}
 
footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid black;;
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}

#interval {
    margin-top: 15px;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid black;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    width:7rem;
    margin-right: 8px;
}

/* Coin customization */

.individualCoin {
    align-items: center;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
    box-shadow: 0 10px 14px rgba(81, 81, 81, 0.4); /* Adding shadow effect */
}

#coinName {
    font-size: 2em;
    text-decoration: underline;
}

#coinPrice {
    font-size: 1.6em;
}